
body {
    font-family: 'Sora', sans-serif;
    background-color: #f0ebda;
    color: #4a4a4a;
    background-image: url('../../imgs/background_products.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}


.products-grid {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    margin-top: 300px;
    flex-wrap: wrap;
    gap: 50px;
}

.product-card {
    width: 30%;
    margin-bottom: 40px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.product-card img:hover {
    transform: scale(1.1);
}

.product-card h3 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5a4a3f;
}

nav ul li a.active {
    font-weight: 500;
    position: relative;
}

nav ul li a.active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5a4a3f;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}